.form-wrap {
  height: calc(100vh - 49px);
  padding-top: 50px;
  background: rgb(235, 252, 255);
  background: linear-gradient(
    70deg,
    rgba(235, 252, 255, 1) 0%,
    rgba(159, 215, 224, 0.989) 68%,
    rgba(217, 246, 255, 1) 100%
  );
}

.add-form {
  width: 60%;
  margin: 0px auto;
  text-align: center;
}
.add-form p {
  margin-top: 20px;
  text-align: left;
  font-weight: 600;
}

.add-form input,
.add-form textarea {
  width: 100%;
  margin: 10px 0 1px 0;
  padding: 10px;
}

.add-form label small {
  font-weight: 100;
}

.add-form button {
  width: 100%;
  margin-top: 20px;
  padding: 10px;
}
