.my-card {
  width: 20rem;
  margin: 10px;
}
.favorites {
  width: 2rem;
  position: absolute;
  right: 1rem;
  top: 15rem;
}
.del-btn {
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
.card {
  border-radius: 10px;
  -webkit-box-shadow: 8px 8px 24px 0px rgba(66, 68, 90, 1);
  -moz-box-shadow: 8px 8px 24px 0px rgba(66, 68, 90, 1);
  box-shadow: 8px 8px 24px 0px rgba(66, 68, 90, 1);
}
