.main-wrap {
  min-height: 100vh;
  padding-top: 100px;
  background-color: #8ec5fc;
  background-image: -webkit-linear-gradient(62deg, #8ec5fc 0%, #e0c3fc 100%);
  background-image: -moz-linear-gradient(62deg, #8ec5fc 0%, #e0c3fc 100%);
  background-image: -o-linear-gradient(62deg, #8ec5fc 0%, #e0c3fc 100%);
  background-image: linear-gradient(62deg, #8ec5fc 0%, #e0c3fc 100%);
}

@media (max-width: 600px) {
  .main-wrap {
    padding-top: 170px;
  }
}
@media (max-width: 460px) {
  .main-wrap {
    padding-top: 210px;
  }
}
@media (max-width: 340px) {
  .main-wrap {
    padding-top: 260px;
  }
}
@media (max-width: 295px) {
  .main-wrap {
    padding-top: 300px;
  }
}
