.main-wrap {
  min-height: calc(100vh - 90px);
  padding-top: 100px;
  background-color: #8ec5fc;
  background-image: -webkit-linear-gradient(62deg, #8ec5fc 0%, #e0c3fc 100%);
  background-image: -moz-linear-gradient(62deg, #8ec5fc 0%, #e0c3fc 100%);
  background-image: -o-linear-gradient(62deg, #8ec5fc 0%, #e0c3fc 100%);
  background-image: linear-gradient(62deg, #8ec5fc 0%, #e0c3fc 100%);
}
